.h1{
    color: black;
    background-color: brown;
}
.p{
    background-color: aqua;
    color: black;
}

#sample-id-selector{

    background-color: #10d536;
    color: blue;
    border-radius: 50px;
    margin-left: 50px;
}

body{
    background-image: url(../image/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}